body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  overscroll-behavior: none;
  //display: flex;
  //flex-direction: auto;
}

/* Style the header */

.container {
  background:url(lightbulb.gif),url(movie-theatre.gif);
  background-repeat: no-repeat,no-repeat;
  background-position:center,center;
  background-size:auto,cover;
  padding: 150px;
 // position: fixed;
 overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  overscroll-behavior: none;
  //display: flex;
  //flex-direction: auto;
}

h1{
  text-align: center;
  color: maroon;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  z-index: 1;
}
h2{
  text-align: center;
  color: maroon;
  font-family: "Lucida Console";
  font-size:20px;
  z-index: 1;
}
p{
  text-align: center;
  font-size:25px;
  animation-name: example;
  animation-duration: 6s;
  font-weight: 600;
  animation-iteration-count: infinite;
}

@keyframes example {
  100% {color:maroon;}
  25% {color: orangered;}
  50% {color: yellow;}
  10% {color: purple;}
  10% {color: yellow;}
}

/* Style the chatbox */

.chatbox{  
  text-align: center;
  font-size:20px;
  font-family: "Lucida Console";
  font-style:normal;
  position: relative;
  padding-left: 20%; 
  padding-right: 20%;
  top:20px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

}


  